@model ThAmCo.Events.Models.GuestBookingRemoveViewModel

@{
    ViewData["Title"] = "Remove booking";
}

<h2>Remove Booking</h2>

<h3>Are you sure you want to remove your booking for @Model.Event.Title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FullName) <i>(@Html.DisplayFor(model => model.Customer.Email))</i>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attended)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attended)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="EventId" />
        @{ 
            if (Model.Attended)
            {
                @:<h4><i>You cannot remove your booking once you have attended.</i></h4>
            }
        }
         
        <input type="submit" class="btn btn-danger"
               @{ 
                if (Model.Attended)
                {
                    @:disabled="disabled"
                }
               }
               value="Yes" />
        <button onclick="history.go(-1)" class="btn btn-default">No</button>
    </form>
</div>
