@model ThAmCo.Events.Models.EventDetailsViewModel

@{
    ViewData["Title"] = "Event Details";
}

<h2>Event Details for: @Model.Title</h2>

<div>
    <hr />
    <h4>Event Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pricings)
        </dt>
        <dd>
            @if (Model.Pricings.Count == 0)
            {
                <li style="list-style:none">No pricings available.</li>
            }
            else
            {
                @foreach (KeyValuePair<string, float> entry in Model.Pricings)
                {
                    <li style="list-style:none">@entry.Key - £@entry.Value</li>
                }
                <li style="list-style:none"><b>Total: £@Model.Pricings.Values.Sum()</b></li>
            }
        </dd>
    </dl>
    <hr />
    <h4>Booking Details</h4>
    <h5>There are currently <b>@Model.Bookings.Count</b> booking(s) for this event.</h5>
    <dl class="dl-horizontal">
        @foreach (ThAmCo.Events.Models.GuestBookingDetailsViewModel entry in Model.Bookings)
        {
            CustomerDetailsViewModel detailView = new CustomerDetailsViewModel()
            {
                FirstName = entry.Customer.FirstName,
                Email = entry.Customer.Email,
                Id = entry.Customer.Id,
                Surname = entry.Customer.Surname,
                FullName = entry.Customer.FullName
            };

            <dt>
                @Html.DisplayNameFor(e => detailView.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(e => detailView.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(e => detailView.Email)
            </dt>
            <dd>
                @Html.DisplayFor(e => detailView.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(e => entry.Attended)
            </dt>
            <dd>
                @{
                    if (entry.Attended)
                    {
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    }
                }
            </dd>
            <br />
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit Event</a>
    <a asp-action="Venue" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit Venue</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
