@model ThAmCo.Events.Models.EventFoodViewModel

@{
    ViewData["Title"] = "Catering Details";
}

<h2>Catering Details for: @Model.Title</h2>

<div>
    <hr />
    <h4>Event Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>
    </dl>
    <hr />
    <h4>Catering Details</h4>
    @if (Model.Menu == null)
    {
        <p>There is no current menu attached to this event.</p>
        if (Model.AvailableMenus == null || Model.AvailableMenus.Count <= 0)
        {
            <p><b>There are no available menus for this event. Please free from other events or create more.</b></p>
        }
        else
        {
            var selectList = new SelectList(Model.AvailableMenus, "Id", "Name");
        <select name="SelectedMenu" id="menuList" class="form-control" asp-items="@selectList" form="menuForm">
            <option disabled="disabled" selected="selected">Choose a Menu</option>
        </select>
        <p></p>
        <form id="menuForm" asp-action="AddMenu">
            <input asp-for="Id" type="hidden" />
            <input type="submit" id="assignButton" disabled="disabled" class="btn btn-default" value="Reserve" />
        </form>
        <br />
        }
    }
    else
    {
        <p>This event currently has a menu assigned:</p>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(x => Model.Menu.Name)</dt>
            <dd>@Html.DisplayFor(x => Model.Menu.Name)</dd>
            <dt>Food Items</dt>
            <dd>
                @foreach (ThAmCo.Catering.Models.FoodGetDto food in Model.Menu.Food)
                {
                    <li style="list-style:none">@food.Name - £@food.Cost</li>
                }
                <li style="list-style:none"><b>Total: £@Model.Menu.Food.Sum(x => x.Cost)</b></li>
            </dd>
        </dl>
        <a class="btn btn-danger" asp-action="RemoveMenu" asp-route-id="@Model.Id">
            <span class="glyphicon glyphicon-remove"></span> Remove Menu</a>
        <p></p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit Event</a>
    <a asp-action="Venue" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit Venue</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $("#menuList").on("change", function (e) {
            $("#assignButton").prop("disabled","");
            console.log("ID: " + e.target.value);
        });
    </script>
}