@model IEnumerable<ThAmCo.Events.Models.EventDetailsViewModel>

@{
    ViewData["Title"] = "Events";
}

<h2>Event List</h2>

<p>
    <a class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Warnings != EventWarningType.None)
                {
                    List<string> warnings = EventWarningUtil.GetWarnings(item.Warnings);
                    System.Text.StringBuilder warns = new System.Text.StringBuilder();
                    foreach (string w in warnings)
                    {
                        if (string.IsNullOrEmpty(w)) { continue; }
                        warns.Append(Environment.NewLine);
                        warns.Append(w);
                    }
                    <span class="glyphicon glyphicon-question-sign text-warning" title="Event has warnings: @warns.ToString()"></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-search"></span> Details</a>
                <a class="btn btn-default" asp-action="Venue" asp-route-id="@item.Id"><span class="glyphicon glyphicon-picture"></span> Venue</a>
                <a class="btn btn-default" asp-action="Staff" asp-route-id="@item.Id"><span class="glyphicon glyphicon-user"></span> Staff</a>
                @if (DateTime.UtcNow > item.Date.Add(item.Duration.Value))
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                }
                else
                {
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
