@model IEnumerable<ThAmCo.Events.Models.StaffIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.FirstAider)
                {
                    <span class="glyphicon glyphicon-ok text-success"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                }
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-search"></span> Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                <a class="btn btn-default" asp-action="Events" asp-route-id="@item.Id"><span class="glyphicon glyphicon-picture"></span> Events</a>
            </td>
        </tr>
}
    </tbody>
</table>
